# Project packages

github "AliSoftware/Reusable" ~> 4.0

# Test packages

github "Quick/Nimble" ~> 8.0
github "Quick/Quick" ~> 2.0
github "ashfurrow/Nimble-Snapshots" ~> 7.0
github "kif-framework/KIF" ~> 3.7